#root {
  max-width: 1280px;
 
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}


.main-section{
  position: absolute;
  height: 100%;
  width: 100vw;
  
}

.background .top{
  height: 65%;
  width: 100%;
  padding-right: 1rem;
  background-color: #0B1437;
}

.background .bottom{
  height: 100%;
  width: 100vw;
  background-color: #1B254B;
}
